In [1]:
import pandas as pd

In [2]:
crsp = pd.read_csv('./Quarterly Merged CRSP-Compustat.csv', sep=',')

/usr/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (2,33,37,654,655,656,657,661,675,676,686) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
crsp.datadate = pd.to_datetime(crsp.datadate)

In [4]:
crsp.rename(columns={'GVKEY': 'gvkey'}, inplace=True)

In [5]:
for c in crsp.columns:
    print(c)

gvkey
LINKPRIM
LIID
LINKTYPE
LPERMNO
LPERMCO
LINKDT
LINKENDDT
datadate
fyearq
fqtr
fyr
indfmt
consol
popsrc
datafmt
tic
cusip
conm
acctchgq
acctstdq
adrrq
ajexq
ajpq
bsprq
compstq
curcdq
curncdq
currtrq
curuscnq
datacqtr
datafqtr
finalq
ogmq
rp
scfq
srcq
staltq
updq
apdedateq
fdateq
pdateq
rdq
acchgq
acomincq
acoq
actq
altoq
ancq
anoq
aociderglq
aociotherq
aocipenq
aocisecglq
aol2q
aoq
apq
aqaq
aqdq
aqepsq
aqpl1q
aqpq
arcedq
arceepsq
arceq
atq
aul3q
billexceq
capr1q
capr2q
capr3q
capsftq
capsq
ceiexbillq
ceqq
cheq
chq
cibegniq
cicurrq
ciderglq
cimiiq
ciotherq
cipenq
ciq
cisecglq
citotalq
cogsq
csh12q
cshfd12
cshfdq
cshiq
cshopq
cshoq
cshprq
cstkcvq
cstkeq
cstkq
dcomq
dd1q
deracq
deraltq
derhedglq
derlcq
derlltq
diladq
dilavq
dlcq
dlttq
doq
dpacreq
dpactq
dpq
dpretq
drcq
drltq
dteaq
dtedq
dteepsq
dtepq
dvintfq
dvpq
epsf12
epsfi12
epsfiq
epsfxq
epspi12
epspiq
epspxq
epsx12
esopctq
esopnrq
esoprq
esoptq
esubq
fcaq
ffoq
finacoq
finaoq
finchq
findlcq
findltq
finivstq
finlcoq
finltoq
finnpq
finreccq
finrecltq
finrevq
finxintq
finxoprq
gdwlamq
gdwlia12
gdwliaq
gdwlid12
gdwlidq
gdwlieps12
gdwliepsq
gdwlipq
gdwlq
glaq
glcea12
glceaq
glced12
glcedq
glceeps12
glceepsq
glcepq
gldq
glepsq
glivq
glpq
hedgeglq
ibadj12
ibadjq
ibcomq
ibmiiq
ibq
icaptq
intaccq
intanoq
intanq
invfgq
invoq
invrmq
invtq
invwipq
ivaeqq
ivaoq
ivltq
ivstq
lcoq
lctq
lltq
lnoq
lol2q
loq
loxdrq
lqpl1q
lseq
ltmibq
ltq
lul3q
mibnq
mibq
mibtq
miiq
msaq
ncoq
niitq
nimq
niq
nopiq
npatq
npq
nrtxtdq
nrtxtepsq
nrtxtq
obkq
oepf12
oeps12
oepsxq
oiadpq
oibdpq
opepsq
optdrq
optfvgrq
optlifeq
optrfrq
optvolq
piq
pllq
pnc12
pncd12
pncdq
pnceps12
pncepsq
pnciapq
pnciaq
pncidpq
pncidq
pnciepspq
pnciepsq
pncippq
pncipq
pncpd12
pncpdq
pncpeps12
pncpepsq
pncpq
pncq
pncwiapq
pncwiaq
pncwidpq
pncwidq
pncwiepq
pncwiepsq
pncwippq
pncwipq
pnrshoq
ppegtq
ppentq
prcaq
prcd12
prcdq
prce12
prceps12
prcepsq
prcpd12
prcpdq
prcpeps12
prcpepsq
prcpq
prcraq
prshoq
pstknq
pstkq
pstkrq
rcaq
rcdq
rcepsq
rcpq
rdipaq
rdipdq
rdipepsq
rdipq
recdq
rectaq
rectoq
rectq
rectrq
recubq
req
retq
reunaq
revtq
rllq
rra12
rraq
rrd12
rrdq
rreps12
rrepsq
rrpq
rstcheltq
rstcheq
saleq
seqoq
seqq
seta12
setaq
setd12
setdq
seteps12
setepsq
setpq
spce12
spced12
spcedpq
spcedq
spceeps12
spceepsp12
spceepspq
spceepsq
spcep12
spcepd12
spcepq
spceq
spidq
spiepsq
spioaq
spiopq
spiq
sretq
stkcoq
stkcpaq
teqq
tfvaq
tfvceq
tfvlq
tieq
tiiq
tstknq
tstkq
txdbaq
txdbcaq
txdbclq
txdbq
txdiq
txditcq
txpq
txtq
txwq
uacoq
uaoq
uaptq
ucapsq
ucconsq
uceqq
uddq
udmbq
udoltq
udpcoq
udvpq
ugiq
uinvq
ulcoq
uniamiq
unopincq
uopiq
updvpq
upmcstkq
upmpfq
upmpfsq
upmsubpq
upstkcq
upstkq
urectq
uspiq
usubdvpq
usubpcvq
utemq
wcapq
wdaq
wddq
wdepsq
wdpq
xaccq
xidoq
xintq
xiq
xoprq
xopt12
xoptd12
xoptd12p
xoptdq
xoptdqp
xopteps12
xoptepsp12
xoptepsq
xoptepsqp
xoptq
xoptqp
xrdq
xsgaq
acchgy
afudccy
afudciy
amcy
aolochy
apalchy
aqay
aqcy
aqdy
aqepsy
aqpy
arcedy
arceepsy
arcey
capxy
cdvcy
chechy
cibegniy
cicurry
cidergly
cimiiy
ciothery
cipeny
cisecgly
citotaly
ciy
cogsy
cshfdy
cshpry
cstkey
depcy
derhedgly
dilady
dilavy
dlcchy
dltisy
dltry
doy
dpcy
dprety
dpy
dteay
dtedy
dteepsy
dtepy
dvpy
dvy
epsfiy
epsfxy
epspiy
epspxy
esubcy
esuby
exrey
fcay
ffoy
fiaoy
fincfy
finrevy
finxinty
finxopry
fopoxy
fopoy
fopty
fsrcoy
fsrcty
fuseoy
fusety
gdwlamy
gdwliay
gdwlidy
gdwliepsy
gdwlipy
glay
glceay
glcedy
glceepsy
glcepy
gldy
glepsy
glivy
glpy
hedgegly
ibadjy
ibcomy
ibcy
ibmiiy
iby
intpny
invchy
itccy
ivacoy
ivchy
ivncfy
ivstchy
miiy
ncoy
niity
nimy
niy
nopiy
nrtxtdy
nrtxtepsy
nrtxty
oancfy
oepsxy
oiadpy
oibdpy
opepsy
optdry
optfvgry
optlifey
optrfry
optvoly
pdvcy
piy
plly
pncdy
pncepsy
pnciapy
pnciay
pncidpy
pncidy
pnciepspy
pnciepsy
pncippy
pncipy
pncpdy
pncpepsy
pncpy
pncwiapy
pncwiay
pncwidpy
pncwidy
pncwiepsy
pncwiepy
pncwippy
pncwipy
pncy
prcay
prcdy
prcepsy
prcpdy
prcpepsy
prcpy
prstkccy
prstkcy
prstkpcy
rcay
rcdy
rcepsy
rcpy
rdipay
rdipdy
rdipepsy
rdipy
recchy
revty
rray
rrdy
rrepsy
rrpy
saley
scstkcy
setay
setdy
setepsy
setpy
sivy
spcedpy
spcedy
spceepspy
spceepsy
spcepy
spcey
spidy
spiepsy
spioay
spiopy
spiy
sppey
sppivy
spstkcy
srety
sstky
stkcoy
stkcpay
tdcy
tfvcey
tiey
tiiy
tsafcy
txachy
txbcofy
txbcoy
txdcy
txdiy
txpdy
txty
txwy
uaolochy
udfccy
udvpy
ufretsdy
ugiy
uniamiy
unopincy
unwccy
uoisy
updvpy
uptacy
uspiy
ustdncy
usubdvpy
utfdocy
utfoscy
utmey
uwkcapcy
wcapchy
wcapcy
wday
wddy
wdepsy
wdpy
xidocy
xidoy
xinty
xiy
xopry
xoptdqpy
xoptdy
xoptepsqpy
xoptepsy
xoptqpy
xopty
xrdy
xsgay
exchg
cik
costat
fic
cshtrq
dvpspq
dvpsxq
mkvaltq
prccq
prchq
prclq
adjex
add1
add2
add3
add4
addzip
busdesc
city
conml
county
dlrsn
ein
fax
fyrc
ggroup
gind
gsector
gsubind
idbflag
incorp
loc
naics
phone
prican
prirow
priusa
sic
spcindcd
spcseccd
spcsrc
state
stko
weburl
dldte
ipodate

In [6]:
crsp.head(10)

,gvkey,LINKPRIM,LIID,LINKTYPE,LPERMNO,LPERMCO,LINKDT,LINKENDDT,datadate,fyearq,...,priusa,sic,spcindcd,spcseccd,spcsrc,state,stko,weburl,dldte,ipodate
0,1038,P,1,LU,66413,6301,08/18/1983,12/31/2004,2001-03-31,2000,...,1,7830,245.0,978.0,NaN,MO,0.0,www.amctheatres.com,12/27/2004,NaN
1,1038,P,1,LU,66413,6301,08/18/1983,12/31/2004,2001-06-30,2001,...,1,7830,245.0,978.0,NaN,MO,0.0,www.amctheatres.com,12/27/2004,NaN
2,1038,P,1,LU,66413,6301,08/18/1983,12/31/2004,2001-09-30,2001,...,1,7830,245.0,978.0,NaN,MO,0.0,www.amctheatres.com,12/27/2004,NaN
3,1038,P,1,LU,66413,6301,08/18/1983,12/31/2004,2001-12-31,2001,...,1,7830,245.0,978.0,NaN,MO,0.0,www.amctheatres.com,12/27/2004,NaN
4,1038,P,1,LU,66413,6301,08/18/1983,12/31/2004,2002-03-31,2001,...,1,7830,245.0,978.0,NaN,MO,0.0,www.amctheatres.com,12/27/2004,NaN
5,1038,P,1,LU,66413,6301,08/18/1983,12/31/2004,2002-06-30,2002,...,1,7830,245.0,978.0,NaN,MO,0.0,www.amctheatres.com,12/27/2004,NaN
6,1038,P,1,LU,66413,6301,08/18/1983,12/31/2004,2002-09-30,2002,...,1,7830,245.0,978.0,NaN,MO,0.0,www.amctheatres.com,12/27/2004,NaN
7,1038,P,1,LU,66413,6301,08/18/1983,12/31/2004,2002-12-31,2002,...,1,7830,245.0,978.0,NaN,MO,0.0,www.amctheatres.com,12/27/2004,NaN
8,1038,P,1,LU,66413,6301,08/18/1983,12/31/2004,2003-03-31,2002,...,1,7830,245.0,978.0,NaN,MO,0.0,www.amctheatres.com,12/27/2004,NaN
9,1038,P,1,LU,66413,6301,08/18/1983,12/31/2004,2003-06-30,2003,...,1,7830,245.0,978.0,NaN,MO,0.0,www.amctheatres.com,12/27/2004,NaN

In [7]:
len(crsp)

58928

In [8]:
cds = pd.read_stata('./cds_spread5y_2001_2016.dta')

In [9]:
cds.gvkey = cds.gvkey.astype('int64')

In [10]:
cds.head(10)

,gvkey,mdate,redcode,tier,ticker,shortname,docclause,spread5y,impliedrating
0,1038,2004-08-31,0A17CF,SNRFOR,AEN,AMC Entmt Inc,MR,0.042000,BB
1,1038,2005-08-31,0A17CF,SNRFOR,AEN,AMC Entmt Inc,XR,0.034000,BB
2,1038,2005-09-30,0A17CF,SNRFOR,AEN,AMC Entmt Inc,XR,0.034000,BB
3,1038,2005-10-31,0A17CF,SNRFOR,AEN,AMC Entmt Inc,XR,0.034001,BB
4,1038,2005-11-30,0A17CF,SNRFOR,AEN,AMC Entmt Inc,XR,0.034001,BB
5,1038,2005-12-31,0A17CF,SNRFOR,AEN,AMC Entmt Inc,XR,0.034050,BB
6,1038,2006-01-31,0A17CF,SNRFOR,AEN,AMC Entmt Inc,XR,0.034051,BB
7,1038,2006-02-28,0A17CF,SNRFOR,AEN,AMC Entmt Inc,MR,0.057000,BB
8,1038,2006-03-31,0A17CF,SNRFOR,AEN,AMC Entmt Inc,MR,0.040357,BB
9,1038,2006-04-30,0A17CF,SNRFOR,AEN,AMC Entmt Inc,MR,0.044750,BB

In [11]:
len(cds)

169043

In [12]:
def month_to_quarter(date):
    quarter = date.month // 3
    year = date.year
    if quarter == 0:
        year -= 1
        quarter = 4
        
    return year, quarter

In [13]:
month_to_quarter(cds.mdate[7])

(2005, 4)

In [14]:
month_to_quarter(cds.mdate[6])

(2005, 4)

In [15]:
month_to_quarter(cds.mdate[6]) == month_to_quarter(cds.mdate[7])

True

In [16]:
cds = cds.assign(quarter=cds.mdate.apply(month_to_quarter))

In [17]:
cds.head(5)

,gvkey,mdate,redcode,tier,ticker,shortname,docclause,spread5y,impliedrating,quarter
0,1038,2004-08-31,0A17CF,SNRFOR,AEN,AMC Entmt Inc,MR,0.042000,BB,"(2004, 2)"
1,1038,2005-08-31,0A17CF,SNRFOR,AEN,AMC Entmt Inc,XR,0.034000,BB,"(2005, 2)"
2,1038,2005-09-30,0A17CF,SNRFOR,AEN,AMC Entmt Inc,XR,0.034000,BB,"(2005, 3)"
3,1038,2005-10-31,0A17CF,SNRFOR,AEN,AMC Entmt Inc,XR,0.034001,BB,"(2005, 3)"
4,1038,2005-11-30,0A17CF,SNRFOR,AEN,AMC Entmt Inc,XR,0.034001,BB,"(2005, 3)"

In [18]:
crsp = crsp.assign(quarter=crsp.datadate.apply(month_to_quarter))

In [19]:
crsp.head(5)

,gvkey,LINKPRIM,LIID,LINKTYPE,LPERMNO,LPERMCO,LINKDT,LINKENDDT,datadate,fyearq,...,sic,spcindcd,spcseccd,spcsrc,state,stko,weburl,dldte,ipodate,quarter
0,1038,P,1,LU,66413,6301,08/18/1983,12/31/2004,2001-03-31,2000,...,7830,245.0,978.0,NaN,MO,0.0,www.amctheatres.com,12/27/2004,NaN,"(2001, 1)"
1,1038,P,1,LU,66413,6301,08/18/1983,12/31/2004,2001-06-30,2001,...,7830,245.0,978.0,NaN,MO,0.0,www.amctheatres.com,12/27/2004,NaN,"(2001, 2)"
2,1038,P,1,LU,66413,6301,08/18/1983,12/31/2004,2001-09-30,2001,...,7830,245.0,978.0,NaN,MO,0.0,www.amctheatres.com,12/27/2004,NaN,"(2001, 3)"
3,1038,P,1,LU,66413,6301,08/18/1983,12/31/2004,2001-12-31,2001,...,7830,245.0,978.0,NaN,MO,0.0,www.amctheatres.com,12/27/2004,NaN,"(2001, 4)"
4,1038,P,1,LU,66413,6301,08/18/1983,12/31/2004,2002-03-31,2001,...,7830,245.0,978.0,NaN,MO,0.0,www.amctheatres.com,12/27/2004,NaN,"(2002, 1)"

In [ ]:
pd.merge(left=crsp, right=cds, on=['gvkey', 'quarter'])